body {
    --html-out-bg: #f1edf5;
    --js-out-bg: #eef5ed;
    --code-bg: #edf1f5;
    --keyboard-bg: #EEEEEE;

    --table-highlight-bg: #f0f0f0;
    
    --spoiler-bg: #dae2eb;
    --spoiler-hover-bg: #c1cbd4; 
    --spoiler-open-bg: #aab4be;
    
    --section-nav-color: #152949;
    --section-nav-hover-color: #36294a;
    --section-nav-highlight-color: red;
    --section-nav-indent-color: #acc3e6; 
    
    --site-nav-color: #294a3b;
    --site-nav-hover-color: #39566d;
    --site-nav-highlight-color: red;
    --site-nav-indent-color: #ace6ce;

    --header-color: #1f3c68;
    --bg-color: white;
    --text-color: black;
    /*

    Original highlight.js style (c) Ivan Sagalaev <maniac@softwaremaniacs.org>

    */
    --hljs-bg: #F0F0F0;
    --hljs-subst: #444;
    --hljs-comment: #888888;
    --hljs-type-string: #880000;
    --hljs-variable: #BC6060;
    --hljs-literal: #78A960;
    --hljs-builtin: #397300;
    --hljs-meta: #1f7199;
    --hljs-meta-string: #4d99bf;
    /*

    End of original highlight.js style.

    */
    --example-label-color: #00000022;
}
body.dark {
    --html-out-bg: #261a31;
    --js-out-bg: #21381e;
    --code-bg: #1e2c3a;
    --keyboard-bg: #3f3f3f;

    --table-highlight-bg: #2b2b2b;
    
    --spoiler-bg: #1e2c3a;
    --spoiler-hover-bg: #294158; 
    --spoiler-open-bg: #325a80;
    
    --section-nav-color: #aabfe0;
    --section-nav-hover-color: #c7bbda;
    --section-nav-highlight-color: rgb(255, 109, 109);
    --section-nav-indent-color: #39537a; 
    
    --site-nav-color: #b6dbcb;
    --site-nav-hover-color: #bed2e2;
    --site-nav-highlight-color: rgb(255, 109, 109);
    --site-nav-indent-color: #327257;

    --header-color: #ffffff;

    --bg-color: #121212;
    --text-color: #DDDDDD;

    /*

    Dark style from softwaremaniacs.org (c) Ivan Sagalaev <Maniac@SoftwareManiacs.Org>

    */
    --hljs-bg: #444;
    --hljs-subst: #DDD;
    --hljs-comment: #777;
    --hljs-type-string: #d88;
    --hljs-variable: #d88;
    --hljs-literal: white;
    --hljs-builtin: #d88;
    --hljs-meta: #777;
    --hljs-meta-string: #b26640;
    /*

    End of dark highlight.js style.

    */

    --example-label-color: #FFFFFF22;
}

body.dark button {
    background: #333333;
    color: white;
}
body.dark :not(.spoiler) > input {
    background: black;
    color: white;
}
body.dark .article a {
    color: #a3caed;
}
body.dark .article a:visited {
    color: #d1a6f0;
}




.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: var(--hljs-bg);
}
.hljs,
.hljs-subst {
    color: var(--hljs-subst);
}
.hljs-comment {
    color: var(--hljs-comment);
}
.hljs-keyword,
.hljs-attribute,
.hljs-selector-tag,
.hljs-meta-keyword,
.hljs-doctag,
.hljs-name {
    font-weight: bold;
}
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
    color: var(--hljs-type-string);
}
.hljs-title,
.hljs-section {
    color: var(--hljs-type-string);
    font-weight: bold;
}
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-selector-pseudo {
    color: var(--hljs-variable);
}
.hljs-literal {
    color: var(--hljs-literal);
}
.hljs-built_in,
.hljs-bullet,
.hljs-code,
.hljs-addition {
    color: var(--hljs-builtin);
}
.hljs-meta {
    color: var(--hljs-meta);
}
.hljs-meta-string {
    color: var(--hljs-meta-string);
}
.hljs-emphasis {
    font-style: italic;
}
.hljs-strong {
    font-weight: bold;
}  



body {
    color: var(--text-color);
    background: var(--bg-color);
}

.html::before, .javascript::before, .html-output::before, .js-output::before {
    white-space: normal;
    display: block;
    background: var(--example-label-color);
    color: var(--text-color);
    border-radius: 10px;
    padding: 3px;
    padding-left: 7px;
    margin: -6px;
    margin-bottom: 0.5em;
    font-family: 'Helvetica', sans-serif;
    font-size: 0.75em;
    z-index: 1;
}

.html-output::before, .js-output::before {
    margin: -10px;
    margin-bottom: 0.5em;
}

.html::before {
    content: "HTML\A";
}
.javascript::before {
    content: "JavaScript\A";
}
.html-output::before {
    content: "HTML Output\A";
}
.js-output::before {
    content: "JavaScript Console Output\A";
}

h1, h2, h3, h4 {
    font-family: 'Helvetica', sans-serif;
    margin-top: 30px;
    color: var(--header-color);
}

p, li, td {
    font-family: 'Helvetica', sans-serif;
}

p {
    line-height: 1.35;
}

.html-output h1, .html-output h2, .html-output h3 {
    margin-top: 10px;
}

.html-output {
    background: var(--html-out-bg);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 40px;
}

.js-output {
    background: var(--js-out-bg);
    border-radius: 10px;
    padding: 10px;
    margin: 10px 40px;
}

samp {
    background: var(--js-out-bg);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.article {
    margin: 10px calc(50vw - 20em);
    margin-bottom: 10%;
}

.article li {
    margin-bottom: 8px;
}

pre, code {
    background: var(--code-bg);
    border-radius: 10px;
}

pre {
    word-wrap: break-word;
    overflow: auto;
}

kbd {
    background: var(--keyboard-bg);
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.noborder {
    border: none;
}


th {
    padding-right: 20px;
}
tr:nth-child(even) {
    background: var(--table-highlight-bg);
}


.spoiler {
    background: var(--spoiler-bg);
    border-radius: 10px;
}
.spoiler > input + * {
    display: none;
}
.spoiler > input:checked + * {
    display: block;
}
.spoiler > input::after {
    content: "Click to show/hide";
}
.spoiler > input {
    all: unset;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    background: var(--spoiler-bg);
    transition: background-color 0.3s;
    font-family: Helvetica, sans-serif;
}
.spoiler > input:hover {
    background: var(--spoiler-hover-bg);
}
.spoiler > input:checked {
    background: var(--spoiler-open-bg);
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



#section-nav {
    font-family: Helvetica, sans-serif;
    position: fixed;
    top: 0%;
    left: 0;
    width: calc(50vw - 20rem - 25px);
    word-wrap: break-word;
    max-height: 90vh;
    overflow-y: auto;
    list-style: none;
    font-size: 1.5em;
    padding-left: 10px;
    text-align: right;
    opacity: 0.5;
    transition: opacity 0.3s;
}
#section-nav:hover {
    opacity: 1;
}
#section-nav ul {
    list-style: none;
    padding-right: 15px;
    font-size: 0.85em;
    opacity: 0.9;
    margin-top: 6px;
    border-right: 5px solid var(--section-nav-indent-color);
}
#section-nav li {
    margin-bottom: 6px;
}
#section-nav li:last-child {
    margin-bottom: 20px;
}
#section-nav a {
    text-decoration: none;
    transition: color 0.3s;
    color: var(--section-nav-color);
}
#section-nav a:hover {
    text-decoration: none;
    color: var(--section-nav-hover-color);
}
.nav-highlighted {
    color: var(--section-nav-highlight-color) !important;
}




#site-nav {
    font-family: Helvetica, sans-serif;
    position: fixed;
    top: 0%;
    right: 0;
    width: calc(50vw - 20rem - 25px);
    word-wrap: break-word;
    max-height: 90vh;
    overflow-y: auto;
    list-style: none;
    font-size: 1.5em;
    text-align: left;
    padding-right: 10px;
    opacity: 0.5;
    transition: opacity 0.3s;
}
#site-nav:hover {
    opacity: 1;
}
#site-nav ul {
    list-style: none;
    padding-left: 15px;
    font-size: 0.85em;
    opacity: 0.9;
    margin-top: 6px;
    border-left: 5px solid var(--site-nav-indent-color);
}
#site-nav li {
    margin-bottom: 6px;
}
#site-nav li:last-child {
    margin-bottom: 20px;
}
#site-nav a {
    text-decoration: none;
    transition: color 0.3s;
    color: var(--site-nav-color);
}
#site-nav a:hover {
    text-decoration: none;
    color: var(--site-nav-hover-color);
}



.site-settings {
    position: fixed;
    top: 5px;
    left: 5px;
}



@media (max-width: 62em) {
    .article {
        margin: 10px 5%;
        line-height: 1.7;
    }



    #section-nav {
        top: unset;
        text-align: left;
        bottom: -24px;
        width: 50%;
        background: #000000BB;
        left: -42%;
        transition: left 0.3s;
        border-radius: 20px;
        padding-top: 10px;
        max-height: 50%;
        overflow-y: hidden;
    }
    #section-nav ul {
        border-right: none;
    }
    #section-nav li {
        display: inline;
        color: white;
    }
    #section-nav a {
        color: #d5e2f6;
    }
    #section-nav a:hover {
        text-decoration: none;
        color: #bb96f3;
    }
    #section-nav:hover {
        left: 0%;
        overflow-y: auto;
    }
    .nav-highlighted {
        color: rgb(255, 131, 131) !important;
    }




    
    #site-nav {
        top: unset;
        text-align: right;
        bottom: -24px;
        width: 50%;
        background: #000000BB;
        right: calc(-42% - 30px);
        transition: right 0.3s;
        border-radius: 20px;
        padding-top: 10px;
        max-height: 50%;
        overflow-y: hidden;
    }
    #site-nav ul {
        border-left: none;
        padding-right: 50px;
    }
    #site-nav li {
        color: #FFFFFF;
    }
    #site-nav a {
        color: #ace6ce;
    }
    #site-nav a:hover {
        text-decoration: none;
        color: #acc5e6;
    }
    #site-nav:hover {
        right: 0%;
        overflow-y: auto;
    }
    body.dark #site-nav, body.dark #section-nav {
        border: 5px solid #AAAAAA;
    }

    
}

