h1, h2, h3, h4 {
    font-family: 'Times New Roman', Times, serif;
    margin-top: 80px;
    color: #122542;
}

p, li {
    font-family: 'Helvetica', sans-serif;
}

.html-output h1, .html-output h2, .html-output h3 {
    margin-top: 10px;
}

.html-output {
    background: #f1edf5;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 40px;
}

.js-output {
    background: #eef5ed;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 40px;
}

samp {
    background: #eef5ed;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.article {
    margin: 10px calc(50vw - 20em);
    margin-bottom: 10%;
}

.article li {
    margin-bottom: 8px;
}

pre, code {
    background: #edf1f5;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

pre {
    padding: 10px;
    word-wrap: break-word;
    overflow: auto;
}

kbd {
    background: #EEEEEE;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.noborder {
    border: none;
}


th {
    padding-right: 20px;
    font-weight: normal;
}

.bold {
    font-weight: bold;
}

tr:nth-child(even) {
    background: #f0f0f0;
}


.spoiler {
    background: #edf1f5;
    border-radius: 10px;
}
.spoiler > input + * {
    display: none;
}
.spoiler > input:checked + * {
    display: block;
}
.spoiler > input::after {
    content: "Click to show/hide";
}
.spoiler > input {
    all: unset;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    background: #dae2eb;
    transition: background-color 0.3s;
    font-family: Helvetica, sans-serif;
}
.spoiler > input:hover {
    background: #c1cbd4;
}
.spoiler > input:checked {
    background: #aab4be;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



#section-nav {
    font-family: Helvetica, sans-serif;
    position: fixed;
    top: 0%;
    left: 0;
    width: calc(50vw - 20rem - 25px);
    word-wrap: break-word;
    max-height: 90vh;
    overflow-y: auto;
    list-style: none;
    font-size: 1.5em;
    padding-left: 10px;
    text-align: right;
    opacity: 0.5;
    transition: opacity 0.3s;
}
#section-nav:hover {
    opacity: 1;
}
#section-nav ul {
    list-style: none;
    padding-right: 15px;
    font-size: 0.85em;
    opacity: 0.9;
    margin-top: 6px;
    border-right: 5px solid #acc3e6;
}
#section-nav li {
    margin-bottom: 6px;
}
#section-nav li:last-child {
    margin-bottom: 20px;
}
#section-nav a {
    text-decoration: none;
    transition: color 0.3s;
    color: #152949;
}
#section-nav a:hover {
    text-decoration: none;
    color: #36294a;
}
.nav-highlighted {
    color: rgb(255, 0, 0) !important;
}



#site-nav {
    font-family: Helvetica, sans-serif;
    position: fixed;
    top: 0%;
    right: 0;
    width: calc(50vw - 20rem - 25px);
    word-wrap: break-word;
    max-height: 90vh;
    overflow-y: auto;
    list-style: none;
    font-size: 1.5em;
    text-align: left;
    padding-right: 10px;
    opacity: 0.5;
    transition: opacity 0.3s;
}
#site-nav:hover {
    opacity: 1;
}
#site-nav ul {
    list-style: none;
    padding-left: 15px;
    font-size: 0.85em;
    opacity: 0.9;
    margin-top: 6px;
    border-left: 5px solid #ace6ce;
}
#site-nav li {
    margin-bottom: 6px;
}
#site-nav li:last-child {
    margin-bottom: 20px;
}
#site-nav a {
    text-decoration: none;
    transition: color 0.3s;
    color: #294a3b;
}
#site-nav a:hover {
    text-decoration: none;
    color: #39566d;
}






@media (max-width: 62em) {
    .article {
        margin: 10px 5%;
    }



    #section-nav {
        top: unset;
        text-align: left;
        bottom: -24px;
        width: 50%;
        background: #000000BB;
        left: -49%;
        transition: left 0.3s;
        border-radius: 20px;
        padding-top: 10px;
        max-height: 50%;
        overflow-y: hidden;
    }
    #section-nav ul {
        border-right: none;
    }
    #section-nav li {
        display: inline;
        color: white;
    }
    #section-nav a {
        color: #d5e2f6;
    }
    #section-nav a:hover {
        text-decoration: none;
        color: #bb96f3;
    }
    #section-nav:hover {
        left: 0%;
        overflow-y: auto;
    }
    .nav-highlighted {
        color: rgb(255, 131, 131) !important;
    }




    
    #site-nav {
        top: unset;
        text-align: right;
        bottom: -24px;
        width: 50%;
        background: #000000BB;
        right: calc(-49% - 30px);
        transition: right 0.3s;
        border-radius: 20px;
        padding-top: 10px;
        max-height: 50%;
        overflow-y: hidden;
    }
    #site-nav ul {
        border-left: none;
        padding-right: 50px;
    }
    #site-nav li {
        color: #FFFFFF;
    }
    #site-nav a {
        color: #ace6ce;
    }
    #site-nav a:hover {
        text-decoration: none;
        color: #acc5e6;
    }
    #site-nav:hover {
        right: 0%;
        overflow-y: auto;
    }
}
