h1, h2, h3, h4 {
    font-family: Helvetica, sans-serif;
    margin-top: 80px;
    color: #122542;
}

.html-output h1, .html-output h2, .html-output h3 {
    margin-top: 10px;
}

.html-output {
    background: #f1edf5;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 40px;
}

.js-output {
    background: #eef5ed;
    border-radius: 10px;
    padding: 10px;
    margin: 10px 40px;
}

.article {
    margin: 10px calc(50vw - 20em);
    margin-bottom: 10%;
}

.article li {
    margin-bottom: 8px;
}

pre, code {
    background: #edf1f5;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

pre {
    padding: 10px;
    word-wrap: break-word;
    overflow: auto;
}

kbd {
    background: #EEEEEE;
    border-radius: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.noborder {
    border: none;
}

.spoiler {
    background: #edf1f5;
    border-radius: 10px;
}

.spoiler > input + div {
    display: none;
}

.spoiler > input:checked + div {
    display: block;
}

.spoiler > input::after {
    content: "Click to show/hide";
}

.spoiler > input {
    all: unset;
    display: block;
    width: calc(100% - 20px);
    padding: 10px;
    border-radius: 10px;
    background: #dae2eb;
    transition: background-color 0.3s;
    font-family: Helvetica, sans-serif;
}
.spoiler > input:hover {
    background: #c1cbd4;
}
.spoiler > input:checked {
    background: #aab4be;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
}



#nav-sections {
    font-family: Helvetica, sans-serif;
    position: fixed;
    top: 0%;
    left: 0;
    width: calc(50vw - 20rem - 25px);
    word-wrap: break-word;
    max-height: 90vh;
    overflow-y: auto;
    list-style: none;
    font-size: 1.5em;
    padding-left: 10px;
}

#nav-sections ul {
    list-style: none;
    padding-left: 15px;
    font-size: 0.85em;
    opacity: 0.9;
    margin-top: 6px;
    border-left: 5px solid #acc3e6;
}

#nav-sections li {
    margin-bottom: 6px;
}

#nav-sections li:last-child {
    margin-bottom: 20px;
}

#nav-sections a {
    text-decoration: none;
    transition: color 0.3s;
}

#nav-sections a:hover {
    text-decoration: none;
    color: #36294a;
}

#nav-sections a {
    color: #152949;
}

.nav-highlighted {
    color: rgb(255, 0, 0) !important;
}

@media (max-width: 62em) {
    .article {
        margin: 10px 5%;
    }

    #nav-sections {
        top: unset;
        bottom: -24px;
        width: 90%;
        background: #000000BB;
        left: -89%;
        transition: left 0.3s;
        border-radius: 20px;
        padding-top: 10px;
        max-height: 50%;
        overflow-y: hidden;
    }

    #nav-sections ul {
        border-left: none;
    }

    #nav-sections li {
        display: inline;
    }

    #nav-sections a {
        color: #d5e2f6;
    }

    #nav-sections a:hover {
        text-decoration: none;
        color: #bb96f3;
    }
    
    #nav-sections:hover {
        left: 0%;
        overflow-y: auto;
    }

    .nav-highlighted {
        color: rgb(255, 131, 131) !important;
    }
}
